@model IEnumerable<Entities.DTOs.CartItem>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts{
    
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
    $(function () {
        //cập nhập số lượng

        $('.txtQuantity').change(function () {
            var listProduct = $('.txtQuantity');
            var cartList = [];
            $.each(listProduct, function (i, item) {
                cartList.push({
                    quantity: $(item).val(),
                    productOptionId: {
                        Id: $(item).data('id'),
                    }
                });
            });
            var quantity = $(this).val();
            var productOptionId = $(this).data('id');
            $.ajax({
                url: '/Cart/Update',
                data: { "quantity": quantity, "productOptionId": productOptionId },
                dataType: 'json',
                type: 'POST',
                success: function (res) {
                    window.location.href = '/gio-hang';
                }
            })
        });
        //xóa sản phẩm
        $('.btnDelete').off('click').on('click', function () {

            const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: 'btn btn-success',
                    cancelButton: 'btn btn-danger'
                },
                buttonsStyling: false
            })

            swalWithBootstrapButtons.fire({
                title: 'Xác nhận?',
                text: "Bạn có muốn xóa sản phẩm?",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Có!',
                cancelButtonText: 'Không!',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    var id = $(this).data('id');
                    $.ajax({
                        url: '/Cart/Delete',
                        data: { productOptionId: $(this).data('id') },
                        dataType: 'json',
                        type: 'POST',
                        success: function (res) {
                                window.location.href = '/gio-hang';
                            //$("tr[data-id='" + id + "']").remove();
                            //thông báo
                            swalWithBootstrapButtons.fire(
                                'Thành công!',
                                'Bạn đã xóa thành công sản phẩm.',
                                'success'
                            );
                            @*if (res.status == true) {
                                window.location.href = '/gio-hang';
                            }*@
                        }
                    })

                }
            })




        });
    });
    </script>
}

<!-- ========================= SECTION CONTENT ========================= -->
<div id='toast'></div>
<section class="section-content padding-y">
    <div class="container">

        <div class="row">
            <main class="col-md-9">
                <div class="card">

                    <table class="table table-borderless table-shopping-cart">
                        <thead class="text-muted">
                            <tr class="small text-uppercase">
                                <th scope="col">Product</th>
                                <th scope="col" width="120">Quantity</th>
                                <th scope="col" width="120">Price</th>
                                <th scope="col" class="text-right" width="200"> </th>
                            </tr>
                        </thead>
                            <tbody>
                                @{
                                decimal totalprice = 0;
                            }
                            @foreach (var item in Model)
                            {
                                totalprice += item.TotalPrice;
                                <tr data-id='@item.ProductOption.Id'>
                                    <td>
                                        <figure class="itemside">
                                            <div class="aside"><img src="@item.ProductOption.Product.Thumbnails" class="img-sm"></div>
                                            <figcaption class="info">
                                                <a href="~/chi-tiet-san-pham/@item.ProductOption.Product.Id" class="title text-dark" data-id='@item.ProductOption.Id'>@item.ProductOption.Product.Name</a>
                                                <p class="text-muted small">Màu sắc: @item.ProductOption.ProductColor.Color.Name
                                                <br> RAM: @item.ProductOption.Option.RAM, ROM: @item.ProductOption.Option.ROM
                                                @*<br> thương hiệu: @item.ProductOption.Product.Brand.Name</p>*@
                                            </figcaption>
                                        </figure>
                                    </td>
                                    <td>
                                        <select class="form-control txtQuantity" data-id="@item.ProductOption.Id">
                                            <option selected hidden>@item.quantity</option>
                                            <option class="SL" value=1 data-id="@item.ProductOption.Id">1</option>
                                            <option class="SL" value=2 data-id="@item.ProductOption.Id">2</option>
                                            <option class="SL" value=3 data-id="@item.ProductOption.Id">3</option>
                                            <option class="SL" value=4 data-id="@item.ProductOption.Id">4</option>
                                        </select>
                                    </td>
                                    <td>
                                        <div class="price-wrap">
                                            <var class="price">@((item.TotalPrice).ToString("#,##0"))</var>
                                            <small class="text-muted"> @((item.ProductOption.Price).ToString("#,##0")) </small>
                                        </div> <!-- price-wrap .// -->
                                    </td>
                                    <td class="text-right">
                                        <a data-original-title="Save to Wishlist" title="" href="" class="btn btn-light" data-toggle="tooltip"> <i class="fa fa-heart"></i></a>
                                        <button class="btn btn-light btnDelete" data-id="@item.ProductOption.Id"> Remove</button>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>

                    <div class="card-body border-top">
                        @if (Model.FirstOrDefault() == null)
                        {
                            <a  disabled class="btn btn-primary float-md-right"> thanh toán <i class="fa fa-chevron-right"></i> </a>
                        }
                        else
                        {
                            <a href="~/thanh-toan" class="btn btn-primary float-md-right"> thanh toán <i class="fa fa-chevron-right"></i> </a>
                        }

                        <a href="#" class="btn btn-light"> <i class="fa fa-chevron-left"></i> Continue shopping </a>
                    </div>
                </div> <!-- card.// -->

               

            </main> <!-- col.// -->
            <aside class="col-md-3">
                <div class="card mb-3">
                    <div class="card-body">
                        <form>
                            <div class="form-group">
                                <label>Have coupon?</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" name="" placeholder="Coupon code">
                                    <span class="input-group-append">
                                        <button class="btn btn-primary">Apply</button>
                                    </span>
                                </div>
                            </div>
                        </form>
                    </div> <!-- card-body.// -->
                </div>  <!-- card .// -->
                <div class="card">
                    <div class="card-body">
                        <dl class="dlist-align">
                            <dt>Total price:</dt>
                            <dd id="tongtien" class="text-right">@(totalprice.ToString("#,##0"))</dd>
                        </dl>
                        @*<dl class="dlist-align">
                            <dt>Discount:</dt>
                            <dd class="text-right">USD 658</dd>
                        </dl>
                        <dl class="dlist-align">
                            <dt>Total:</dt>
                            <dd class="text-right  h5"><strong>$1,650</strong></dd>
                        </dl>*@
                        <hr>
                        <p class="text-center mb-3">
                            <img src="images/misc/payments.png" height="26">
                        </p>

                    </div> <!-- card-body.// -->
                </div>  <!-- card .// -->
            </aside> <!-- col.// -->
        </div>

    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
<!-- ========================= SECTION  ========================= -->

<!-- ========================= SECTION  END// ========================= -->
