@model Entities.DTOs.ProductDTO;
@{
    ViewData["Title"] = "ProductDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/Toast.css" rel="stylesheet" />
<script src="~/js/Toast.js"></script>
<script>

    


    $(function () {

        setTimeout(function () {
            $("#remo").remove();
        }, 5000);

        // thay đổi color
        $('input:radio[name=radioColor]').on('click change', function (e) {
            var selected = $(" input[name='radioColor']:checked").val();
            var productId = '@Model.Id'; //new String(("");
            //alert(selected);
            //var model = {};
            //model.productId = productId;
            //model.colorId = selected;

            //url: "/Product/ChangeColor",
                //data: { "productId": model.productId, "colortId": model.colorId },
            $.ajax({
                type: "POST",
                url: "/Product/ChangeColor",
                //data: JSON.stringify(model),
                data: { "productId": productId, "colorId": selected },
                //data: { "colortId": selected,"productId": productId },
                dataType: "json",
                //contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $("#options").empty();
                    var obj = JSON.parse(data);
                    //console.log(obj);
                    let DS = "";
                    $.each(obj, function () {
                        console.log($(this));
                        DS += $(this)[0].RAM;
                        DS += $(this)[0].ROM;
                        DS += $(this)[0].Id;
                        $("#options").append(
                            "<input class='optionItem' value='" + $(this)[0].Id + "' type='radio' name='optionItem' style='margin-right:5px;'>",
                            "<button style='margin-right:20px;'>  " + $(this)[0].RAM + "/" + $(this)[0].ROM + "</button>"
                        )
                    });
                    $('input:radio:first-child').attr('checked', true);
                    //var price = '@((Model.Price).ToString("#,##0"))VND';
                    var price = 'vu';
                    $("#price").text(price);
                }
            });
        });

        /////
        // thay đổi option & thay đổi giá tiền
        $('input:radio[name=optionItem]').on('click change', function (e) {
            debugger
            var colorId = $(" input[name='radioColor']:checked").val();
            var optionId = $(" input[name='optionItem']:checked").val();
            var productId = '@Model.Id';
            $.ajax({
                type: "POST",
                url: "/Product/UpdatePrice",
                //data: JSON.stringify(model),
                data: {
                    "productId": productId,
                    "optionId": optionId,
                    "colorId": colorId
                },
                //data: { "colortId": selected,"productId": productId },
                dataType: "json",
                //contentType: "application/json; charset=utf-8",
                success: function (data) {
                    alert(data);
                    var obj = JSON.parse(data);
                    console.log(obj);
                    $("#price").text(obj.Price);
                }
            });
        });
        //Thêm sản phẩm vào giỏ hàng
        $("#addtocart").click(function () {
           @* if ($('#toast').length) {
                
            }
            else {
                $('#rederBody').prepend("<div id='toast'></div>");
            }*@

            //thông báo
            

            var quantity = $("#ipQuantity").val();
            var colorId = $(" input[name='radioColor']:checked").val();
            var optionId = $(" input[name='optionItem']:checked").val();
            var productId = '@Model.Id';
            $.ajax({
                type: "POST",
                url: '@Url.Action("AddToCart", "Cart")',
                data: { "productId": productId, "optionId": optionId, "colorId": colorId, "Quantity": quantity },
                dataType: "json",
                //contentType: "application/json; charset=utf-8",
                success: function (res) {
                    //alert("Thêm giỏ hàng thành công!");
                    var data = JSON.parse(res);
                    //if (data.CartCount != null) {
                    @*$.cookie('CartCount', data.CartCount);
                    alert($.cookie('CartCount'));*@
                    //cập nhập giỏ hàng
                    $('#CartCount').text(data.CartCount);

                    

                    toast({
                        title: "Thành công!",
                        message: "Bạn đã Thêm sản phẩm vào giỏ hàng",
                        type: "success",
                        duration: 3000,
                    });
                   // }
                },
                error: function () {
                    toast({
                        title: "Thất bại!",
                        message: "Thêm sản phẩm thất bại.",
                        type: "error",
                        duration: 5000
                    });
                }
            });
            return false;
        });
        // tăng số lượng
        $("#button-plus").click(function () {
            if ($("#ipQuantity").val() < 4) {
                var sl = $("#ipQuantity").val() * 1 + 1;
                $("#ipQuantity").val(sl);
            }

        });
        //giảm số lượng
        $("#button-minus").click(function () {
            if ($("#ipQuantity").val() > 1) {
                var sl = $("#ipQuantity").val() * 1 - 1;
                $("#ipQuantity").val(sl);
            }

        });
        //thay đổi ảnh thumnel
        $(".imgitem").click(function () {
            var images = $(this).attr('src');
            $("#imgmain").attr('src', images);

        })
    });
</script>
<div class="alert alert-success " hidden id="remo">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Success!</strong> Indicates a successful or positive action.
</div>
<div id="toastd"></div>
<section class="py-3 bg-light">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Category name</a></li>
            <li class="breadcrumb-item"><a href="#">Sub category</a></li>
            <li class="breadcrumb-item active" aria-current="page">Items</li>
        </ol>
    </div>
</section>

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content bg-white padding-y">
    <div class="container">

        <!-- ============================ ITEM DETAIL ======================== -->
        <div class="row">
            <aside class="col-md-6">
                <div class="card">
                    <article class="gallery-wrap">
                        <div class="img-big-wrap">
                            <div> <a href="#"><img id="imgmain" src="@Model.Images.FirstOrDefault().Imglink"></a></div>
                        </div> <!-- slider-product.// -->
                        <div class="thumbs-wrap">
                            @foreach (var item in Model.Images)
                            {
                               <img class="item-thumb imgitem" src="@item.Imglink">
                            }
                        </div> <!-- slider-nav.// -->
                    </article> <!-- gallery-wrap .end// -->
                </div> <!-- card.// -->
            </aside>
            <main class="col-md-6">
                <article class="product-info-aside">

                    <h2 class="title mt-3">@Model.Name</h2>

                    <div class="rating-wrap my-3">
                        <ul class="rating-stars">
                            <li style="width:80%" class="stars-active">
                                <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </li>
                            <li>
                                <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </li>
                        </ul>
                        <small class="label-rating text-muted">132 reviews</small>
                        <small class="label-rating text-success"> <i class="fa fa-clipboard-check"></i> 154 orders </small>
                    </div> <!-- rating-wrap.// -->

                    <div class="mb-3">
                        <var id="price" class="price h4">@((Model.Price).ToString("#,##0"))VND</var>
                        <span class="text-muted">USD 562.65 incl. VAT</span>
                    </div> <!-- price-detail-wrap .// -->

                    <p>
                        Compact sport shoe for running, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat
                    </p>


                    <dl class="row">
                        <dt class="col-sm-3">Màu sắc: </dt>
                        <dd class="col-sm-9">
                            @{int colorCount = 0; }
                            @foreach (var item in Model.ProductColors.Select(c => c.Color))
                            {

                                if (colorCount == 0)
                                {
                                    <input checked type="radio" value="@item.Id" name="radioColor">
                                    <button style="background:@item.Hex; height: 20px; width:20px;margin-right:20px;"></button>
                                }
                                else
                                {
                                    <input type="radio" value="@item.Id" name="radioColor">
                                    <button style="background:@item.Hex; height: 20px; width:20px;margin-right:20px;"></button>
                                }
                                colorCount++;
                            }
                        </dd>




                        <dt class="col-sm-3">Phiên bản: </dt>

                        <dd class="col-sm-9">
                            <div id="options">
                                @{int optionCount = 0; }
                                @foreach (var item in Model.ProductOptions.Where(p => p.ProductColor.Id == Entities.Constants.Product.ProductColorId).Select(c => c.Option))
                                {
                                    if (optionCount == 0)
                                    {
                                        <input checked class='optionItem' value="@item.Id" type="radio" name="optionItem">
                                        <button style="margin-right:20px;">@item.RAM/@item.ROM</button>
                                    }
                                    else
                                    {
                                        <input class='optionItem' value="@item.Id" type="radio" name="optionItem">
                                        <button style="margin-right:20px;">@item.RAM/@item.ROM</button>
                                    }
                                    optionCount++;
                                }
                            </div>


                        </dd>
                    </dl>

                    <div class="form-row  mt-4">
                        <div class="form-group col-md flex-grow-0">
                            <div class="input-group mb-3 input-spinner">
                                <div class="input-group mb-3 input-spinner">
                                    <div class="input-group-prepend">
                                        <button class="btn btn-light" type="button" id="button-minus"> - </button>
                                    </div>
                                    <input type="text" id="ipQuantity" disabled class="form-control" value="1">
                                    <div class="input-group-append">
                                        <button class="btn btn-light" type="button" id="button-plus"> + </button>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- col.// -->
                        <div class="form-group col-md">
                            <a href="#" id="addtocart" class="btn  btn-primary">
                                <i class="fas fa-shopping-cart"></i> <span class="text">Add to cart</span>
                            </a>
                        </div> <!-- col.// -->
                    </div> <!-- row.// -->

                </article> <!-- product-info-aside .// -->
            </main> <!-- col.// -->
        </div> <!-- row.// -->
        <!-- ================ ITEM DETAIL END .// ================= -->


    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
<!-- ========================= SECTION  ========================= -->
<section class="section-name padding-y bg">
    <div class="container">

        <div class="row">
            <div class="col-md-8">
                <h5 class="title-description">Description</h5>
                <p>
                    Lava stone grill, suitable for natural gas, with cast-iron cooking grid, piezo ignition, stainless steel burners, water tank, and thermocouple. Thermostatic adjustable per zone. Comes complete with lava rocks. Adjustable legs. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat.
                </p>
                <ul class="list-check">
                    <li>Material: Stainless steel</li>
                    <li>Weight: 82kg</li>
                    <li>built-in drip tray</li>
                    <li>Open base for pots and pans</li>
                    <li>On request available in propane execution</li>
                </ul>

                <h5 class="title-description">Specifications</h5>

            </div> <!-- col.// -->

            <div class="col-md-4">
                <table class="table table-bordered">
                    <tr> <th colspan="2">Basic specs</th> </tr>
                    <tr> <td>Type of energy</td><td>Lava stone</td> </tr>
                    <tr> <td>Number of zones</td><td>2</td> </tr>
                    <tr> <td>Automatic connection	</td> <td> <i class="fa fa-check text-success"></i> Yes </td></tr>

                    <tr> <th colspan="2">Dimensions</th> </tr>
                    <tr> <td>Width</td><td>500mm</td> </tr>
                    <tr> <td>Depth</td><td>400mm</td> </tr>
                    <tr> <td>Height	</td><td>700mm</td> </tr>

                    <tr> <th colspan="2">Materials</th> </tr>
                    <tr> <td>Exterior</td><td>Stainless steel</td> </tr>
                    <tr> <td>Interior</td><td>Iron</td> </tr>

                    <tr> <th colspan="2">Connections</th> </tr>
                    <tr> <td>Heating Type</td><td>Gas</td> </tr>
                    <tr> <td>Connected load gas</td><td>15 Kw</td> </tr>

                </table>

            </div> <!-- col.// -->
        </div> <!-- row.// -->

    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
<!-- ========================= SECTION SUBSCRIBE  ========================= -->
<!-- ========================= SECTION SUBSCRIBE END// ========================= -->
