@model Entities.DTOs.ProfileMain
@{
    ViewBag.Title = "ProfileMain";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <script>

        $(document).ready(function () {
            $("#xemthem").click(function () {
                $(".content").css("display", "block");
                $("#xemthem").css("display", "none");
                $("#thugon").css("display", "block");
            });
            $("#thugon").click(function () {
                $(".content").css("display", "none");
                $("#xemthem").css("display", "block");
                $("#thugon").css("display", "none");
            });
        });
    </script>

    <!-- ========================= SECTION PAGETOP ========================= -->

    <!-- ========================= SECTION PAGETOP END// ========================= -->
    <!-- ========================= SECTION CONTENT ========================= -->
    <section class="section-content padding-y">
        <div class="container">

            <div class="row">
                <aside class="col-md-3">
                    <nav class="list-group">
                        <a class="list-group-item active" href="~/tong-quat-ve-toi">Tổng quát về tôi</a>
                        <a class="list-group-item" href="~/don-hang-cua-toi">Đơn hàng của tôi</a>
                        <a class="list-group-item" href="~/chinh-sua-thong-tin-cua-toi">Chỉnh sửa thông tin của tôi</a>
                        <a class="list-group-item" href="~/dang-xuat"> Đăng xuất </a>
                    </nav>
                </aside> <!-- col.// -->
                <main class="col-md-9">

                    <article class="card mb-3">
                        <div class="card-body">

                            <figure class="icontext">
                                <div class="icon">
                                    <img class="rounded-circle img-sm border" src="@Model.AppUser.AvatarUrl">
                                </div>
                                <div class="text">
                                    <strong> @Model.AppUser.Fullname </strong> <br>
                                    <p class="mb-2"> @Model.AppUser.Email  </p>
                                    <a href="~/chinh-sua-thong-tin-cua-toi" class="btn btn-light btn-sm">Edit</a>
                                </div>
                            </figure>
                            <hr>
                            <p>
                                <i class="fa fa-map-marker text-muted"></i> &nbsp; Địa chỉ:
                                <br>
                                @Model.AppUser.Address
                                <a href="~/chinh-sua-thong-tin-cua-toi" class="btn-link"> Edit</a>
                            </p>



                            <article class="card-group card-stat">
                                <figure class="card bg">
                                    <div class="p-3">
                                        <h4 class="title">@Model.AmountOrder</h4>
                                        <span>Đơn hàng</span>
                                    </div>
                                </figure>
                                <figure class="card bg">
                                    <div class="p-3">
                                        <h4 class="title">@Model.AmountWaitForConfirmation</h4>
                                        <span>Chờ xác nhận</span>
                                    </div>
                                </figure>
                                <figure class="card bg">
                                    <div class="p-3">
                                        <h4 class="title">@Model.AmountAwaitingDelivery</h4>
                                        <span>Chờ giao hàng</span>
                                    </div>
                                </figure>
                                <figure class="card bg">
                                    <div class="p-3">
                                        <h4 class="title">@Model.AmountDeliveredItems</h4>
                                        <span>Đã giao hàng</span>
                                    </div>
                                </figure>
                            </article>


                        </div> <!-- card-body .// -->
                    </article> <!-- card.// -->

                    <article class="card  mb-3">
                        <div class="card-body">
                            <h5 class="card-title mb-4">Đơn hàng gần đây</h5>
                            @{
                                int i = 0;
                                string GetStatus(int status)
                                {
                                    var str = new List<string>()
                                                                        {
                                    "Đơn hàng bị hủy","Chờ xác nhận","Chờ giao hàng","Đã giao hàng thành công"
                                };
                                    return str[status];
                                }

                            }
                            <div class="row">
                                @foreach (var item in Model.Order.OrderByDescending(m=>m.CreateAt.Value.Date))
                                {

                                    i++;
                                    if (i > 4)
                                    {
                                        <div onclick="window.location='http://google.com';" class="col-md-6 content" style="display: none;">
                                            <figure class="itemside  mb-3">
                                                <figcaption class="info">
                                                    <time class="text-muted"><i class="fa fa-calendar-alt"></i> @(String.Format("{0:MM/dd/yy}", item.CreateAt))</time>
                                                    <p>Tổng giá : @((item.TotalPrice).ToString("#,##0")) VND</p>
                                                    <span class="text-success">
                                                        Trạng thái : @GetStatus(item.StatusOrder.Value)
                                                    </span>
                                                </figcaption>
                                            </figure>
                                        </div> <!-- col.// -->
                                    }
                                    else
                                    {
                                        <div onclick="window.location='http://google.com';" class="col-md-6">
                                            <figure class="itemside  mb-3">
                                                <figcaption class="info">
                                                    <time class="text-muted"><i class="fa fa-calendar-alt"></i> @(String.Format("{0:MM/dd/yy}", item.CreateAt))</time>
                                                    <p>Tổng giá : @((item.TotalPrice).ToString("#,##0")) VND</p>
                                                    <span class="text-success">
                                                        Trạng thái : @GetStatus(item.StatusOrder.Value)
                                                    </span>
                                                </figcaption>
                                            </figure>
                                        </div> <!-- col.// -->
                                    }

                                }


                            </div> <!-- row.// -->

                            <button id="xemthem" class="btn btn-outline-primary btn-block"> Xem thêm <i class="fa fa-chevron-down"></i>  </button>
                            <button id="thugon" style="display: none;" class="btn btn-outline-primary btn-block"> Thu gọn <i class="fa fa-chevron-up"></i>  </button>
                        </div> <!-- card-body .// -->
                    </article> <!-- card.// -->

                </main> <!-- col.// -->
            </div>

        </div> <!-- container .//  -->
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->
