@model Entities.DTOs.FilterDTO;
<style>
        @@keyframes spin {
            0% {
                transform: rotate(0);
            }

            100% {
                transform: rotate(360deg);
            }
        }

        .spinner {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1003;
            @*background: #ffffff;*@
            overflow: hidden;
        }

            .spinner div:first-child {
                display: block;
                position: relative;
                left: 50%;
                top: 50%;
                width: 150px;
                height: 150px;
                margin: -75px 0 0 -75px;
                border-radius: 50%;
                box-shadow: 0 3px 3px 0 rgba(255, 56, 106, 1);
                transform: translate3d(0, 0, 0);
                animation: spin 2s linear infinite;
            }

                .spinner div:first-child:after,
                .spinner div:first-child:before {
                    content: "";
                    position: absolute;
                    border-radius: 50%;
                }

                .spinner div:first-child:before {
                    top: 5px;
                    left: 5px;
                    right: 5px;
                    bottom: 5px;
                    box-shadow: 0 3px 3px 0 rgb(255, 228, 32);
                    -webkit-animation: spin 3s linear infinite;
                    animation: spin 3s linear infinite;
                }

                .spinner div:first-child:after {
                    top: 15px;
                    left: 15px;
                    right: 15px;
                    bottom: 15px;
                    box-shadow: 0 3px 3px 0 rgba(61, 175, 255, 1);
                    animation: spin 1.5s linear infinite;
                }
</style>
<script>
    $(document).ready(function () {
        $("#okFilter").off('click').on('click', function (e) {
            var brand = $('#brandId').val();
            var category = $('#category').val();
            var color = $('#Color').val();
            var option = $('#Option').val();
            var priceMin = $('#priceMin').val();
            var priceMax = $('#priceMax').val();
            //window.location.href = "/search/Fiter?keyWork=" + valueSearch;
            $("#rederBody").append(
                "<div class='spinner'></div>"
            );
            $(".spinner").append(

                "<div class='blob blob-0'></div>",
            );
            //window.history.pushState('string', '', "aaa");
            $.ajax({
                type: "POST",
                url: "/Search/Filter",

                //data: JSON.stringify(model),
                data: {
                    "brand": brand,
                    "category": category,
                    "color": color,
                    "option": option,
                    "priceMin": priceMin,
                    "priceMax": priceMax
                },
                dataType: "json",
                success: function (data) {
                    $("#rederBody").load("/Search/_Filter");
                },
                error: function () {
                    alert("lỗi");
                }
            })

        });
    });
</script>



<div class="col-md-2">BỘ LỌC TÌM KIẾM</div> <!-- col.// -->
<div class="col-md-10">
    <ul class="list-inline">
        <li class="list-inline-item mr-3 dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Nhà sản xuất</a>
            <div class="dropdown-menu p-3" style="max-width:400px;">
                @foreach (var item in Model.listBrands)
                {
                    <label class="form-check">
                        <input value="@item.Id" type="radio" name="Brand" @*class="form-check-input"*@> @item.Name
                    </label>
                }
            </div> <!-- dropdown-menu.// -->
            <input hidden id="brandId" type="text" value="" />
            <script>
                $('input[type=radio][name=Brand]').on('change', function () {
                    var brandId = this.value;
                    $("#brandId").val(brandId);
                    
                });
            </script>
        </li>
        <li class="list-inline-item mr-3 dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Loại sản phẩm</a>
            <div class="dropdown-menu p-3">
                @foreach (var item in Model.listCategory)
                {
                    <label class="form-check">
                        <input value="@item.Id" type="radio" name="Category" @*class="form-check-input"*@> @item.Name
                    </label>
                }
            </div> <!-- dropdown-menu.// -->
            <input hidden id="category" type="text" value="" />
            <script>
                $('input[type=radio][name=Category]').on('change', function () {
                    var categoryId = this.value;
                    $("#category").val(categoryId);
                });
            </script>
        </li>
        <li class="list-inline-item mr-3 dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Màu sắc</a>
            <div class="dropdown-menu">
                @foreach (var item in Model.listColors)
                {
                    <label class="form-check">
                        <input value="@item.Id" type="radio" name="Color" @*class="form-check-input"*@> @item.Name
                    </label>
                }
            </div>
            <input hidden id="Color" type="text" value="" />
            <script>
                $('input[type=radio][name=Color]').on('change', function () {
                    var Color = this.value;
                    $("#Option").val(Color);
                });
            </script>
        </li>
        <li class="list-inline-item mr-3 dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Phiên bản</a>
            <div class="dropdown-menu">
                @foreach (var item in Model.listOptions)
                {
                    <label class="form-check">
                        <input value="@item.Id" type="radio" name="Option" @*class="form-check-input"*@> @item.RAM/@item.ROM
                    </label>
                }
            </div>
            <input hidden id="Option" type="text" value="" />
            <script>
                $('input[type=radio][name=Option]').on('change', function () {
                    var OptionId = this.value;
                    $("#Option").val(OptionId);
                });
            </script>
        </li>
        <li class="list-inline-item mr-3">
            <div class="form-inline">
                <label class="mr-2">Giá</label>
                <input class="form-control form-control-sm" name="PriceMin" id="priceMin" placeholder="Min" type="number">
                <span class="px-2"> - </span>
                <input class="form-control form-control-sm" name="PriceMax" id="priceMax" placeholder="Max" type="number">
                <button id="okFilter" class="btn btn-sm btn-light ml-2">Ok</button>
            </div>
        </li>
    </ul>
</div> <!-- col.// -->
