@model Entities.DTOs.FilterDTO;

<script>
    $(document).ready(function () {
        $("#okFilter").off('click').on('click', function (e) {
            var brand = $('input[name="Brand"]').val();
            var category = $('input[name="Category"]').val();
            var color = $('input[name="Color"]').val();
            var option = $('input[name="Option"]').val();
            var priceMin = $('input[name="PriceMin"]').val();
            var priceMax = $('input[name="PriceMax"]').val();
            //window.location.href = "/search/Fiter?keyWork=" + valueSearch;
            
            //window.history.pushState('string', '', "aaa");
            $.ajax({
                type: "POST",
                url: "/Search/Filter",
                //data: JSON.stringify(model),
                data: {
                    "brand": brand,
                    "category": category,
                    "color": color,
                    "option": option,
                    "priceMin": priceMin,
                    "priceMax": priceMax
                },
                //data: { "colortId": selected,"productId": productId },
                dataType: "json",
                //contentType: "application/json; charset=utf-8",
                success: function (data) {
                    
                    $("#rederBody").empty();
                    $("#rederBody").load("/Search/_Filter");
                },
                error: function () {
                    alert("lỗi");
                }
            })

        });
    });
</script>


<div class="col-md-2">Filter by</div> <!-- col.// -->
<div class="col-md-10">
    <ul class="list-inline">
        <li class="list-inline-item mr-3 dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Nhà sản xuất</a>
            <div class="dropdown-menu p-3" style="max-width:400px;">
                @foreach (var item in Model.listBrands)
                {
                    <label class="form-check">
                        <input value="@item.Id" type="radio" name="Brand" class="form-check-input"> @item.Name
                    </label>
                }
            </div> <!-- dropdown-menu.// -->
        </li>
        <li class="list-inline-item mr-3 dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Loại sản phẩm</a>
            <div class="dropdown-menu p-3">
                @foreach (var item in Model.listCategory)
                {
                    <label class="form-check">
                        <input value="@item.Id" type="radio" name="Category" class="form-check-input"> @item.Name
                    </label>
                }
            </div> <!-- dropdown-menu.// -->
        </li>
        <li class="list-inline-item mr-3 dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Màu sắc</a>
            <div class="dropdown-menu">
                @foreach (var item in Model.listColors)
                {
                    <label class="form-check">
                        <input value="@item.Id" type="radio" name="Color" class="form-check-input"> @item.Name
                    </label>
                }
            </div>
        </li>
        <li class="list-inline-item mr-3 dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Phiên bản</a>
            <div class="dropdown-menu">
                @foreach (var item in Model.listOptions)
                {
                    <label class="form-check">
                        <input value="@item.Id" type="radio" name="Option" class="form-check-input"> @item.RAM/@item.ROM
                    </label>
                }
            </div>
        </li>
        <li class="list-inline-item mr-3">
            <div class="form-inline">
                <label class="mr-2">Giá</label>
                <input class="form-control form-control-sm" name="PriceMin" placeholder="Min" type="number">
                <span class="px-2"> - </span>
                <input class="form-control form-control-sm" name="PriceMax" placeholder="Max" type="number">
                <button id="okFilter" class="btn btn-sm btn-light ml-2">Ok</button>
            </div>
        </li>
    </ul>
</div> <!-- col.// -->
